.catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  z-index: 100;
}

.content-title {
  margin-bottom: 12px;
}

.content-slider {
  display: flex;
  gap: 8px;
}

.content-slider .slider-item {
  border-radius: 4px;
  width: 220px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    transform: scale(1.8);
    transition: transform 0.3s ease;
    z-index: 20;
  }
}

.content-slider .slider-item img {
  object-fit: cover;
  object-position: center;
  display: block;
}

.content-slider .slider-item.ranked {
  border-radius: 0 4px 4px 0;
  display: flex;
  position: relative;
  align-items: center;

  .rank {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 148px;
    font-weight: 900;
    color: var(--neutral-600);
    /* margin-right: -16px; */
    position: absolute;
    width: 110px;
    top: -56px;
    left: 16px;
    text-shadow: -4px 0px var(--neutral-600), 0px 4px var(--neutral-600),
      4px 0px var(--neutral-600), 0px -4px var(--neutral-600);
    color: var(--black);
  }

  img {
    position: relative;
    z-index: 10;
    margin-left: 110px;
    width: 96px;
    height: 100%;
  }
}
