@import "./global.css";

.hero {
  padding: 0 60px;
  width: 100%;
  height: 600px;
  min-height: 400px;
  max-height: 800px;
  background-color: aliceblue;
}

.hero-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  z-index: 0;
}

.hero-image {
  object-fit: cover;
  height: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 60%, var(--black) 100%),
    linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
  z-index: 0;
}

.age-rating {
  position: absolute;
  right: 0;
  bottom: 30%;
  align-items: center;
  padding: 8px 56px 8px 12px;
  background-color: rgba(25, 25, 25, 0.3);
  border-left: 3px solid #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1;
}

.hero-content {
  position: absolute;
  width: 36%;
  z-index: 1;

  .title-logo,
  .info {
    margin-bottom: 16px;
  }
}

.hero-content .info .supplemental-message {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;

  .badge {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-size: 12px;
      font-weight: 700;

      &.rank {
        margin-top: -4px;
      }
    }
  }
}

.hero-content .info h1 {
  font-size: 24px;
  font-weight: 600;
}
.hero-content .info p {
  font-size: 18px;
}

.hero-content .buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;

  button {
    height: 28px;
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease;

    img {
      margin-left: -6px;
    }
  }

  .play-button {
    color: var(--black);
    background-color: var(--white);

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  .info-button {
    color: var(--white);
    background-color: var(--neutral-600);
  }
}
